
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


.titulo{
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000000;  
    margin: 20px auto;
    width: 450px;
    font-size: 3rem;
    text-align: center;
    border-bottom: 10px double #000000;
}
.titulo:hover{
    color: rgb(255, 255, 255);

}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-inicio {
    width: 400px;
    height: 300px;
    margin: 10px;
    border: 10px solid #c2c2c2;
    filter: grayscale(100%);
    transition-duration: 1s;
}

.img-inicio:hover {
    border: 5px solid #000000;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-filter: none;
    filter: none;
}
.fondo-entrada{
    background: linear-gradient(to right, #2193b0, #6dd5ed);
}
.img-entrada{
    margin-right: 20px;
}
.img-entrada img{
    width: 500px;
    /*height: 700px;*/
    border: 5px solid #000000;
}
.entrada-info{
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.parque{
        width: 800px;
        text-align: right;
        border: 5px solid #000000;
        margin-right: 0;
        margin-top: 25px;
        margin-bottom: 0;
}
.texto-entrada p{
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000000;     
    font-size: large;
    text-align: center;
    /*display: flex;*/
    right: 0;
}
.texto-entrada h1{
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
    font-size: 50px;
    font-style: normal;
    color: #fff;     
    text-align: center;
    align-items: center;
    margin-top: 25px;
}
.texto-entrada a{
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}
/* CSS */
.button-56 {
  align-items: center;
  background-color: #ffffff;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;  
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

#bogota{
    width: 450;
    height: 450;
}
#canciones{
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    color: #000000;     
    font-size: large;

}

